<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Video App</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="/">VidAPP</a>
				<ul class="nav">
					<li class="active"><a href="/">Home</a></li>
					<li class="active"><a href="/about">About</a></li>
					<li class="active"><a href="/faq">FAQ</a></li>
					<li class="active"><a href="/contact">Contact</a></li>
					<li class="active"><a href="/list">List</a></li>
					<li class="active"><a href="/add">add</a></li>
				</ul>
			</div>
		</div>
		<div class="container-fluid">
			<%= yield %>
		</div>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>
